.close-container {
    position: relative;
    padding-right: 15px;
    padding-top: 15px;
}

.close {
    float: right;
    width: 14px;
    height: 14px;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-heading {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    color: #03344e;
}

.heading-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sub-heading {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.5px;
    color: #3f3f3f;
}

.description {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.5px;
    color: #3f3f3f;

    width: 85%;
    margin-top: -5px;
}

.confirmation-button {
    background: #03344e;
    border-radius: 28px;
    width: 350px;
    height: 56px;
    margin: auto;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
}

.footer {
    height: 30%;
    background: #f2f2f2;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.car-owner-container {
    display: flex;
    align-items: center;
}

.car-icon {
    padding-right: 30px;
}

.owner-details {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.5px;
    color: #3f3f3f;
}

.package-details-container {
    display: flex;
}

.info-icon {
    padding-right: 10px;
    padding-top: 15px;
}

.package-details {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.5px;
    color: #3f3f3f;
}

.flex-container-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 60%;
    justify-content: space-around;
}

.form-field {
    display: flex;
    flex-direction: column;
    width: 47%;
    min-width: 300px;
}
.form-label {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    letter-spacing: 0.5px;

    /* honda button */

    color: #03344e;
}
.terms-conditions {
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: center;
    .primary {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.5px;

        color: #828282;
        span {
            margin-left: -33px;
            margin-right: 5px;
        }
    }
    .italic {
        font-family: Roboto;
        font-style: italic;
        font-weight: normal;
        font-size: 10px;
        line-height: 12px;
        letter-spacing: 0.5px;

        color: #828282;
    }
    .link {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 24px;

        /* light blue */

        color: #0071b8;
    }
}

.form-button {
    border-radius: 28px;
    height: 56px;
    min-width: 348.69px;
    margin: 1%;
    border-color: #03344e;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
}
.button-progress-container {
    text-align: center;
    padding-top: 7%;
    padding-bottom: 4%;
    padding-left: 25%;
    padding-right: 25%;
}
.progress-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.progress-full-circle-line {
    border-bottom: #e0e0e0 3px solid;
    padding-top: 15.5px;
    width: -webkit-fill-available;
    height: 0px;
}
.progress-icon {
    height: 31px;
    width: 31px;
}
.progress-text {
    font-family: Roboto;
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.5px;
    padding-top: 15px;
    padding-bottom: 30px;
    color: #828282;
}
.btn-container {
    display: flex;
    flex-direction: row;
}

.progress-bar-container {
    display: flex;
    width: 90%;

    margin: 5vh auto;
    justify-content: space-between;
}

.customer-progress {
    border: 2px solid #cfcfcf;
    box-sizing: border-box;
    border-radius: 8px;
    width: 60%;
    position: relative;
    margin-top: 5vh;
}

.icon-heading {
    position: absolute;
    margin-top: -1.5vh;
    padding: 0 1vh;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.5px;

    color: #cfcfcf;

    margin-left: 1vw;
    background-color: white;
}

.customer-progress-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 2vw;
    padding-right: 4vw;
    padding-top: 3vh;
}

.icon-container {
    display: flex;
    flex-direction: column;
    max-width: 38px;
    align-items: center;
}

.icon {
    text-align: center;
}

.progress-step {
    display: inline-block;
    width: 12%;
}

.progress-step-heading-container {
    justify-content: center;
}

.progress-step-heading {
    white-space: nowrap;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 6px;
    text-align: center;
    letter-spacing: 0.5px;
    color: #0071b8;
}

.step-time {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 9px;
    line-height: 8px;
    text-align: center;
    letter-spacing: 0.5px;
    color: #3f3f3f;
}

.line {
    border-bottom: 2px solid #e0e0e0 !important;
    border: none;
    width: -webkit-fill-available;
    height: 0px;
    margin-top: 17px;
}
